<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/temp/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            fileName="/temp/logfile.txt"
            archiveFileName="/temp/archives/log.{#}.txt"
            archiveEvery="Monday"
            archiveNumbering="Date"
            maxArchiveFiles="3"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="seq"
            xsi:type="BufferingWrapper"
            bufferSize="1000"
            flushTimeout="2000">

      <target xsi:type="Seq" serverUrl="${environment:LoggingSeqUrl}" apiKey="">
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="MachineName" value="${machinename}" />
        <property name="ServiceName" value="Draw" />
        <property name="Class" value="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
        <property name="Line" value="${callsite-linenumber:skipFrames=0}" />
      </target>
    </target>
    <target xsi:type="ApplicationInsightsTarget" name="aiTarget">
      <instrumentationKey>${environment:AIInstrumentationKey}</instrumentationKey>
      <contextproperty name="threadid" layout="${threadid}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="seq" />
    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
  </rules>
</nlog>